.navbar-dark a {
    /*float: left;*/
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
}


* {box-sizing: border-box;}

.navbar-dark {
    overflow: hidden;
    background-color: #056b5b;
}
